:root {
    --width_square_min_400: 20px;
    --width_square_shadow_min_400: 16px;
    --width_square3D_min_400: 12px;
    --width_square_min_550: 25px;
    --width_square_shadow_min_550: 21px;
    --width_square3D_min_550: 17px;
    --width_square_min_1000: 30px;
    --width_square_shadow_min_1000: 26px;
    --width_square3D_min_1000: 22px;
}
@font-face {
    font-family: 'Digital-clock';
    src: url(../font/digital-7.ttf);
}
@font-face {
    font-family: 'Arcade';
    src: url(../font/ARCADECLASSIC.TTF);
}
main {
    background-color: rgb(200, 200, 200);
}

.configPanel {
    height: 70vh;
    width: 90%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    z-index: 4;
    margin: 15vh 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Digital-clock';
    font-size: 16px;
    color: #000;
}

.infoPanel {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 95%;
    width: 95%;
}

.infoPanel > div {
    display: grid;
    grid-template-rows: 30% 1fr;
    row-gap: 5px;
}

#difficulty-text, #options-image {
    border: 1px solid black;
}
.infoPanel > div h2{
    text-align: center;
}
.infoPanel > div p{
    margin: 8px;
    font-family: 'Roboto';
    font-size: 0.8rem;
}

#difficulty-text h2 {
    margin: 2px 0;
}
#difficulty-text h3 {
    margin: 6px 0;
    text-align: center;
}

.backimage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65%;
}

.classic {
    background-image: url(../img/options/classic.png);
}
.no-repeat {
    background-image: url(../img/options/no_repeat.png);
}
.shadow {
    background-image: url(../img/options/shadow.png);
}
.modern {
    background-image: url(../img/options/modern.png);
}

fieldset {
    display: grid;
    align-content: flex-start;
    row-gap: 20px;
}

fieldset h3 {
    text-align: center;
    margin: 8px 0;
}
fieldset h4 {
    margin: 8px 0;
    text-decoration: underline;
}

label {
    font-size: 0.8rem;
}

.options-panel-config {
    display: flex;
    flex-flow: column;
}

input[type='radio']:focus {
    outline: none;
}
input[type='checkbox']:focus {
    outline: none;
}

.buttonStart {
    display: flex;
    justify-content: center;
    min-height: 25vh;
    align-items: center;
}
#start {
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(0, 200, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    width: 75px;
}
#start:hover {
    background-color:  rgb(70,120,255);
}
#start:focus {
    background-color: orange;
    color: black;
    outline: none;
}

.pauseScreen {
    background-color: rgba(50, 50, 50, 0.4);
    height: 76vh;
    width: 100%;
    margin: 12vh 0;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pause, .game-over {
    font-family: 'Arcade';
    font-size: 45px;
    font-weight: bold;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 75%;
}

.panel-board {
    display: flex;
    justify-content: center;
    height: 100%;
}
#board {
    display: grid;
    grid-template-columns: repeat(10,var(--width_square_min_400));
    column-gap: 2px;
    row-gap: 2px;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
}
.square {
    height: var(--width_square_min_400);
    width: var(--width_square_min_400);
}
.empty {
    background-color: rgb(200, 200, 200);
}
.L, .J, .O, .Z, .S, .I, .T, .rC {
    height: var(--width_square3D_min_400);
    width: var(--width_square3D_min_400);
}
.sL, .sJ, .sO, .sZ, .sS, .sI, .sT {
    height: var(--width_square_shadow_min_400);
    width: var(--width_square_shadow_min_400);
    border-radius: 5px;
}
.L {
    border-top: 4px solid rgb(255,194,81);
    border-left: 4px solid rgb(255,184,51);
    border-bottom: 4px solid rgb(236,153,0);
    border-right: 4px solid rgb(215,139,0);
    background-color: orange;
}
.J {
    border-top: 4px solid rgb(113,145,255);
    border-left: 4px solid rgb(83,121,255);
    border-bottom: 4px solid rgb(36,85,255);
    border-right: 4px solid rgb(21,74,255);
    background-color: rgb(50, 98, 255);
}
.O {
    border-top: 4px solid rgb(255,232,98);
    border-left: 4px solid rgb(255,225,55);
    border-bottom: 4px solid rgb(234,199,0);
    border-right: 4px solid rgb(217,185,0);
    background-color: gold;
}
.Z {
    border-top: 4px solid rgb(255,100,100);
    border-left: 4px solid rgb(255,62,62);
    border-bottom: 4px solid rgb(221,0,0);
    border-right: 4px solid rgb(185,0,0);
    background-color: red;
}
.S {
    border-top: 4px solid rgb(43,244,0);
    border-left: 4px solid rgb(40,230,0);
    border-bottom: 4px solid rgb(35,202,0);
    border-right: 4px solid rgb(33,187,0);
    background-color: rgb(45, 220, 0);
}
.I {
    border-top: 4px solid rgb(177,225,254);
    border-left: 4px solid rgb(153,216,253);
    border-bottom: 4px solid rgb(104,196,251);
    border-right: 4px solid rgb(75,185,250);
    background-color: lightskyblue;
}
.T {
    border-top: 4px solid rgb(187,113,255);
    border-left: 4px solid rgb(177,91,255);
    border-bottom: 4px solid rgb(146,26,255);
    border-right: 4px solid rgb(128,0,242);
    background-color: rgb(156, 51, 255);
}
.rC {
    border-top: 4px solid rgb(160,160,160);
    border-left: 4px solid rgb(120,120,120);
    border-bottom: 4px solid rgb(80,80,80);
    border-right: 4px solid rgb(40,40,40);
    background-color:  rgb(200,200,200);
    animation: completedRow 150ms infinite;
}
@keyframes completedRow {
    0% { background-color:  rgb(200,200,200); }
    50% { background-color: lightyellow };
}
.sL {
    border: 2px solid orange;
}
.sJ {
    border: 2px solid  rgb(50, 98, 255);
}
.sO {
    border: 2px solid rgb(240, 200, 0);
}
.sZ {
    border: 2px solid red;
}
.sS {
    border: 2px solid rgb(45, 220, 0);
}
.sI {
    border: 2px solid lightskyblue;
}
.sT {
    border: 2px solid rgb(156, 51, 255);
}

.hidden {
    display: none;
}

#message {
    border-radius: 15px;
    margin: 15px auto;
    padding: 15px;
    background-color: rgb(255,255,255,0.85);
}
#message h3 {
    font-size: 0.75rem;
}
#message p {
    margin: 5px 0;
    font-size: 0.6rem;
    text-align: center;
}
#message button {
    height: 20px;
    font-size: 0.7rem;
}
#content-message {
    font-family: 'Roboto';
}
#reset {
    font-family: 'Roboto';
}

.win {
    background-color: rgba(172, 255, 47, 0.5);
    border: 2px solid green;
}

.lose {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}

#level, #score, #lines, #next-piece {
    background-color: rgb(58, 58, 58);
    border: 4px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 120px;
    height: 55px;
    display: grid;
    align-items: center;
    color: red;
    font-family: 'Digital-clock';
    font-size: 36px;
    text-align: center;
}

#difficulty {
    font-size: 20px;
}

#score {
    text-align: right;
}

#next-piece {
    background-color: white;
    grid-template-columns: repeat(4,var(--width_square_min_400));
    align-content: center;
    justify-content: center;
    justify-items: center;
    column-gap: 2px;
    row-gap: 2px;
}

#panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions {
    height: 45vh;
}
@media only screen and (min-height: 650px) {
    #level, #score, #lines, #next-piece {
        height: 60px;
    }
}
@media only screen and (min-width: 700px) {
    .instructions {
        height: 58vh;
    }
    .pause, .game-over {
        font-size: 60px;
    }
    #message h3 {
        font-size: 1rem;
    }
    #message p {
        font-size: 0.75rem;
    }
    #message button {
        height: 25px;
        font-size: 0.85rem;
    }
    #start {
        height: 85px;
        width: 85px;
        font-size: 22px;
    }
}
@media only screen and (min-width: 700px) and (min-height: 760px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_550));
    }
    .square {
        height: var(--width_square_min_550);
        width: var(--width_square_min_550);
    }
    .L, .J, .O, .Z, .S, .I, .T, .rC {
        height: var(--width_square3D_min_550);
        width: var(--width_square3D_min_550);
    }
    #next-piece {
        grid-template-columns: repeat(4,var(--width_square_min_550));
    }
    .sL, .sJ, .sO, .sZ, .sS, .sI, .sT {
        height: var(--width_square_shadow_min_550);
        width: var(--width_square_shadow_min_550);
        border-radius: 5px;
    }
    .backimage {
        height: 70%;
    }
    .configPanel {
        font-size: 18px;
    }
}
@media only screen and (min-width: 900px) {
    .instructions {
        height: 70vh;
    }
    .pause, .game-over {
        font-size: 80px;
    }
    #message h3 {
        font-size: 1.25rem;
    }
    #message p {
        font-size: 1rem;
    }
    #message button {
        height: 30px;
        font-size: 1rem;
    }
    .configPanel {
        width: 70%;
        margin: 15vh 15%;
    }
    .infoPanel > div p{
        font-size: 1rem;
    }
    label {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1000px) {
    #level, #score, #lines, #next-piece {
        width: 125px;
        height: 70px;
        font-size: 46px;
    }
    #level {
        font-size: 42px;
    }
    #difficulty {
        font-size: 25px;
    }
    #score {
        font-size: 45px;
    }
}
@media only screen and (min-width: 1000px) and (min-height: 900px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_1000));
    }
    #next-piece {
        grid-template-columns: repeat(4,var(--width_square_min_1000));
    }
    .square {
        height: var(--width_square_min_1000);
        width: var(--width_square_min_1000);
    }
    .L, .J, .O, .Z, .S, .I, .T, .rC {
        height: var(--width_square3D_min_1000);
        width: var(--width_square3D_min_1000);
    }
    .sL, .sJ, .sO, .sZ, .sS, .sI, .sT {
        height: var(--width_square_shadow_min_1000);
        width: var(--width_square_shadow_min_1000);
        border-radius: 5px;
    }
}
@media only screen and (min-width: 1300px) {
    #level, #score, #lines, #next-piece {
        width: 150px;
        height: 90px;
        font-size: 50px;
    }
    #difficulty {
        font-size: 30px;
    }
    .infoPanel > div p{
        font-size: 1.2rem;
    }
    label {
        font-size: 1.2rem;
    }
    #start {
        height: 95px;
        width: 95px;
        font-size: 25px;
    }
}
@media only screen and (min-width: 1300px) and (min-height: 900px) {
    .configPanel {
        font-size: 20px;
    }
    .backimage {
        height: 80%;
    }
    label {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 1900px) {
    .configPanel {
        width: 50%;
        margin: 15vh 25%;
        font-size: 22px;
    }
}