:root {
    --width_square_min_500: 25px;
    --width_square_min_700: 30px;
    --width_square_min_900: 40px;
    --width_square_min_1100: 45px;
    --width_square_min_1300: 50px;
    --color_snake: rgb(136, 209, 26);
}
@font-face {
    font-family: 'Digital-clock';
    src: url(../font/digital-7.ttf);
}
h1 {
    font-family: 'Digital-clock';
    font-size: 5rem;
}
#board {
    display: grid;
    grid-template-columns: repeat(10,var(--width_square_min_500));
    column-gap: 2px;
    row-gap: 2px;
    justify-content: center;
    align-self: center;
    font-size: 24px;
}
.square {
    height: var(--width_square_min_500);
    width: var(--width_square_min_500);
}
.empty {
    background-color: gainsboro;
}
.L {
    background-color: orange;
}
.J {
    background-color: rgb(0, 60, 255);
}
.D {
    background-color: rgb(235, 235, 0);
}
.Z {
    background-color: red;
}
.N {
    background-color: rgb(45, 220, 0);
}
.I {
    background-color: rgb(0, 120, 255);
}
.T {
    background-color: rgb(115, 0, 200);
}

.hidden {
    display: none;
}

#message {
    border-radius: 15px;
    margin: 15px auto;
    padding: 15px;
    width: 50%;
}
#message h3 {
    font-size: 0.75rem;
}
#message p {
    margin: 5px 0;
    font-size: 0.6rem;
}
#message button {
    height: 20px;
    width: 60px;
    font-size: 0.7rem;
}

.win {
    background-color: rgba(172, 255, 47, 0.5);
    border: 2px solid green;
}

.lose {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}

#score, #time {
    background-color: rgb(58, 58, 58);
    border: 4px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 40px;
    height: 25px;
    display: grid;
    align-items: center;
    text-align: right;
    color: red;
    font-family: 'Digital-clock';
    font-size: 24px;
}

#time {
    width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .info {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 100%;
} */

#panel {
    height: 100%;
    margin-top: 10vh;
}

.instructions {
    height: 45vh;
}

@media only screen and (min-width: 700px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_700));
    }
    .square {
        height: var(--width_square_min_700);
        width: var(--width_square_min_700);
    }
    #score, #time {
        width: 65px;
        height: 35px;
        font-size: 30px;
    }
    #time {
        width: 85px;
        font-size: 25px;
    }
    .instructions {
        height: 58vh;
    }
    #panel {
        margin-top: 5vh;
    }
    #message h3 {
        font-size: 1rem;
    }
    #message p {
        font-size: 0.75rem;
    }
    #message button {
        height: 25px;
        width: 75px;
        font-size: 0.85rem;
    }
}
@media only screen and (min-width: 900px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_900));
    }
    .square {
        height: var(--width_square_min_900);
        width: var(--width_square_min_900);
    }
    #score, #time {
        width: 90px;
        height: 50px;
        font-size: 46px;
    }
    #time {
        width: 140px;
        font-size: 40px;
    }
    .instructions {
        height: 70vh;
    }
    #panel {
        margin-top: 0;
    }
    #message h3 {
        font-size: 1.25rem;
    }
    #message p {
        font-size: 1rem;
    }
    #message button {
        height: 30px;
        width: 80px;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1100px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_1100));
    }
    .square {
        height: var(--width_square_min_1100);
        width: var(--width_square_min_1100);
    }
    #score, #time {
        width: 125px;
        height: 70px;
        font-size: 65px;
    }
    #time {
        width: 190px;
        font-size: 50px;
    }
}
@media only screen and (min-width: 1300px) {
    #board {
        grid-template-columns: repeat(10,var(--width_square_min_700));
    }
    .square {
        height: var(--width_square_min_700);
        width: var(--width_square_min_700);
    }
    #score, #time {
        width: 150px;
        height: 90px;
        font-size: 80px;
    }
    #time {
        width: 200px;
        font-size: 50px;
    }
}